/* Another version of table.css file only applied to screen SCFG3100 */
/* Date: 04.06.2018*/
/* Author: Hamid Bin Zaman*/
.TableContent {
	background-color: #B0B6BB;
}

th.HeaderTableData {
	font-weight: bold;
	font-size: 12px;
	color: #006699;
	font-family: Arial;
	text-align: center;
	text_decoration: none;
	align: left;
	clear: both;
	height: 26px;
	border-left: 1px solid #EBEBEB;
}

td.FormInputColor {
	font-size: 11px;
	font-family: Verdana;
	height: 25px;
	/* background-color: #f5f5f5; */
	background-color: #F3FAFD;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 4px;
	padding-right: 4px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	/* border-left: 1px solid white;
	border-right: 1px solid #E5E5E5; */
}

td.FormInputColorEven {
	font-size: 11px;
	font-family: Verdana;
	height: 25px;
	/* background-color: #f5f5f5; */
	background-color: #FFF;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 4px;
	padding-right: 4px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	/* border-left: 1px solid white;
	border-right: 1px solid #E5E5E5; */
}

td.FormInputColorSentence {
	font-size: 11px;
	font-family: Verdana;
	height: 25px;
	background-color: #f5f5f5;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 4px;
	padding-right: 4px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid #E5E5E5;
	text-transform: Uppercase;
}

th.FormCellBGColor {
	font-size: 12px;
	color: #333333;
	font-family: Arial;
	font-weight: bold;
	height: 25px;
	background-color: #F3FAFD;
	text-align: left;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 4px;
	padding-right: 4px;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #BDBDBD;
	border-right: 1px solid #BDBDBD;
}

th.FormCellBGColorEven {
	font-size: 12px;
	color: #333333;
	font-family: Arial;
	font-weight: bold;
	height: 25px;
	background-color: #FFF;
	text-align: left;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 4px;
	padding-right: 4px;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #BDBDBD;
	border-right: 1px solid #BDBDBD;
}

td.CellClass {
	font-size: 11px;
	color: black;
	font-family: Verdana;
	background-color: white;
	text-decoration: none;
	text-align: center;
	height: 25px;
}

.button {
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #436D96;
	color: #FFFFFF;
	text-align: center;
	border-left: 2px solid #95B0CB;
	border-top: 2px solid #BCD1E7;
	border-right: 2px solid #2D547A;
	border-bottom: 2px solid #2D547A;
}

a {
	text-decoration: none;
}

td.item {
	font-size: small;
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
}

.PageHeader {
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	color: #006699;
	text-transform: uppercase;
}

td.TitleHeader {
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	color: #006699;
	height: 60px;
	text-align: center;
	text-transform: uppercase;
}

th.FormTitleBGColor {
	font-size: 13px;
	color: #006699;
	font-family: Arial;
	font-weight: bold;
	height: 25px;
	background-color: #DCDCDC;
	text-align: left;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

th.FormTitleBGColorEven {
	font-size: 13px;
	color: #006699;
	font-family: Arial;
	font-weight: bold;
	height: 25px;
	background-color: #B9B9B9;
	text-align: left;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #BDBDBD;
	border-right: 1px solid #BDBDBD;
}

.shift-right {
	float: right
}

th.SubFormCellBGColor {
	font-size: 12px;
	color: #FFF;
	font-family: Arial;
	font-weight: bold;
	/* height: 25px; */
	background-color: #757575;
	text-align: left;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 4px;
	padding-right: 4px;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #BDBDBD;
	border-right: 1px solid #BDBDBD;
}

td.SubFormInputColor {
	font-size: 11px;
	font-family: Verdana;
	/* height: 25px; */
	/* background-color: #f5f5f5; */
	background-color: #F3FAFD;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 4px;
	padding-right: 4px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	/* border-left: 1px solid white;
	border-right: 1px solid #E5E5E5; */
}

td.SubFormInputColorEven {
	font-size: 11px;
	font-family: Verdana;
	/* height: 25px; */
	/* background-color: #f5f5f5; */
	background-color: #FFF;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 4px;
	padding-right: 4px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	/* border-left: 1px solid white;
	border-right: 1px solid #E5E5E5; */
}