.hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 1s, opacity 1s linear;
}

.visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 1s linear;
}

#alert-div {
	text-align: center;
	background-color: gold;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #006699;
	width: 80%;
    margin: auto;
}

#multi-login-div {
	text-align: center;
	background-color: gold;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #006699;
	width: 90%;
    margin: auto;
}