#side ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    /* width: 18%; */
    background-color: #436D96;
    height: 665px;
    /* height: 680px; */
    overflow: auto;
    font-family: Arial;
    font-size: 12px;
    position: relative;
}

#side li a {
	display: block;
	color: #FFF;
	padding: 8px 16px;
	text-decoration: none;
}

#side li a.active {
	background-color: #73B8C4;
	color: white;
}

#side li a:hover:not (.active ) {
	background-color: red;
	color: white;
}

.MenuMain {
    background-color: #618CB6;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;    
	/* border-top: 1px solid #4879AA; */
	border-top: 1px solid #6C97C1;
    /* border-bottom: 1px solid #436D96; */
    border-bottom: 1px solid #4F7AA3;
}

.MenuOther {
    background-color: #436D96;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
    border-top: 1px solid #618CB6;
    border-bottom: 1px solid #2D547A;
}