<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.app.dao.AtmMasterMapper">

	<resultMap type="viewatmdto" id="result">
		<result property="pid" column="PID" />
		<result property="machine" column="MACHINE" />
		<result property="remote_address" column="REMOTE_ADDRESS" />
		<result property="branch_name" column="BRANCH_NAME" />
		<result property="street" column="STREET" />
		<result property="city" column="CITY" />
		<result property="state" column="NAME" />
	</resultMap>

	<select id="listAllActiveAtm" resultType="viewatmdto" resultMap="result">
		SELECT
		rt.PID, tcp.MACHINE, tcp.REMOTE_ADDRESS, branch.BRANCH_NAME,
		def.STREET, def.CITY, mststt.NAME
		FROM RT_TAB rt
		INNER JOIN TCP_TAB tcp
		ON rt.PID=tcp.PID
		INNER JOIN DEF_TAB def ON rt.PID=def.ID
		INNER JOIN
		BRANCH_TAB branch ON def.BRANCH=branch.BRANCH_ID
		INNER JOIN MST_STATE
		mststt ON def.STATE=mststt.ID ORDER BY rt.PID
	</select>

	<!-- <insert id="insert_rttab" parameterType="rttab" keyProperty="pid"> 
		INSERT INTO RT_TAB(PID, ETYPE, OWNER, FORMATER, MONITOR, OFFLN, DATAX, PROTO) 
		VALUES (#{pid}, #{etype}, #{owner}, #{formater}, #{monitor}, #{offln}, #{datax}, 
		#{proto}) </insert> -->
	<insert id="insert_rttab" parameterType="rttab" keyProperty="pid">
		INSERT INTO RT_TAB(PID, ETYPE, OWNER, FORMATER, MONITOR, OFFLN, PROTO)
		VALUES (#{pid}, #{etype}, #{owner}, #{formater}, #{monitor}, #{offln},
		#{proto})
	</insert>

	<insert id="insert_tcptab" parameterType="tcptab" keyProperty="pid">
		INSERT INTO TCP_TAB(MACHINE, PID, REMOTE_ADDRESS,
		REMOTE_PORT,
		LOCAL_PORT, INITIATOR, DEPENDS_ON, FORMAT, HEADER_LEN,
		PING_CHECK)
		VALUES (#{machine}, #{pid}, #{remote_address}, #{remote_port},
		#{local_port}, #{initiator}, #{depends_on}, #{format}, #{header_len},
		#{ping_check})
	</insert>

	<insert id="insert_deftab" parameterType="deftab" keyProperty="id">
		INSERT INTO DEF_TAB(ID, TID, BRANCH, D1BILL, D2BILL, D3BILL, D4BILL,
		D1VAL, D2VAL, D3VAL, D4VAL, D1TYPE, D2TYPE, D3TYPE, D4TYPE,
		NUMDISP,
		BWARN, REC, RWARN, DWARN, RJWARN,
		TIME1, TIME2, TIME3, TIME4, TERMCHAR,
		STREET, CITY, STATE, CIRCUIT, ACCT, TCHAR,
		LUNO, GMT_OFFSET, MACING,
		SECURITY_MOD, ECP, LOADER)
		VALUES
		(#{id}, #{tid}, #{branch}, #{d1bill},
		#{d2bill}, #{d3bill}, #{d4bill},
		#{d1val}, #{d2val}, #{d3val},
		#{d4val}, #{d1type}, #{d2type}, #{d3type}, #{d4type},
		#{numdisp},
		#{bwarn}, #{rec}, #{rwarn}, #{dwarn}, #{rjwarn},
		#{time1}, #{time2},
		#{time3}, #{time4}, #{termchar},
		#{street}, #{city}, #{state},
		#{circuit}, #{acct}, #{tchar},
		#{luno}, #{gmt_offset}, #{macing},
		#{security_mod}, #{ecp}, #{loader})
	</insert>

	<insert id="insert_ctlatab" parameterType="ctlatab" keyProperty="pid">
		INSERT INTO CTLA_TAB (PID, HCSTART, HCSENT, RENCON, CTYPE, OUTCTR,
		OUTTOT, TTYPE,
		TTO, LAMT, LDISP, LAUTH, LSCREEN, NTRANS, RESPNO,
		ACCT1TP,
		ACCT2TP, OPSTAT, PROCSTAT, HCMORE, DISAB1, DISAB2, OPROB,
		WARN1,
		WARN2, CMDWT, MEM_NO, MIS_FLD1, MIS_FLD2,
		LCARDTYPE, HREJECT,
		AREJECT, CLOSED, MISERR, STAT1_1, STAT1_2, STAT1_3,
		STAT1_4, STAT1_5,
		STAT1_6, STAT1_7, STAT1_8, STAT1_9, STAT1_10, STAT2_1,
		STAT2_2, SW_TAB,
		SW_SKEY, SW_LSKEY, SW_EKEY, SW_REQ, SW_CONFIG,
		MIS_FLAG1,
		MIS_FLAG2,
		LUTRNNO, NON_READIES, STATUS_MSG)
		VALUES
		(#{pid}, #{hcstart}, #{hcsent},
		#{rencon}, #{ctype}, #{outctr}, #{outtot},
		#{ttype},
		#{tto}, #{lamt},
		#{ldisp}, #{lauth}, #{lscreen}, #{ntrans},
		#{respno}, #{acct1tp},
		#{acct2tp}, #{opstat}, #{procstat}, #{hcmore},
		#{disab1}, #{disab2},
		#{oprob}, #{warn1},
		#{warn2}, #{cmdwt}, #{mem_no},
		#{mis_fld1},
		#{mis_fld2},
		#{lcardtype}, #{hreject}, #{areject}, #{closed},
		#{miserr},
		#{stat1_1}, #{stat1_2},
		#{stat1_3},
		#{stat1_4}, #{stat1_5},
		#{stat1_6},
		#{stat1_7}, #{stat1_8},
		#{stat1_9}, #{stat1_10}, #{stat2_1},
		#{stat2_2},
		#{sw_tab}, #{sw_skey},
		#{sw_lskey}, #{sw_ekey}, #{sw_req},
		#{sw_config},
		#{mis_flag1},
		#{mis_flag2}, #{lutrnno}, #{non_readies},
		#{status_msg})
	</insert>

	<insert id="insert_ctrtab" parameterType="ctrtab" keyProperty="pid">
		INSERT INTO CTR_TAB (PID, C1_START_BILLS, C2_START_BILLS,
		C3_START_BILLS, C4_START_BILLS, C_CTRANS, C_C1BILLS, C_C2BILLS,
		C_C3BILLS, C_C4BILLS, C_CWDL_LOC, C_CWDL_US,
		C_CDEP, C_CPMT, C_CINQ, C_CCKBK, C_CXFER, C_CCAPT, C_CRECT, C_C1BREJ,
		C_C2BREJ, C_C3BREJ, C_C4BREJ, C_CDEPAC, C_CACSHA, C_CAXFER, C_CAINQ,
		C_CICSHA, C_CIXFER,
		C_CIINQ, C_TWDL_LOC, C_TWDL_US, C_TWDLC_LOC, C_TWDLC_US, C_TWDLS_LOC,
		C_TWDLS_US, C_TACSHA_LOC, C_TACSHA_US, C_TICSHA, C_TDEP, C_TDEPC,
		C_TDEPS, C_TPMT, C_TPMTL,
		C_TPMTMC, C_CFSEG, C_CFRF, C_CSVCLOAD, C_TSVCLOAD, C_CSVCUNLOAD, C_TSVCUNLOAD)
		VALUES
		(#{pid},
		#{c1_start_bills}, #{c2_start_bills}, #{c3_start_bills}, #{c4_start_bills}, #{c_ctrans},
		#{c_c1bills}, #{c_c2bills}, #{c_c3bills}, #{c_c4bills}, #{c_cwdl_loc},
		#{c_cwdl_us},
		#{c_cdep}, #{c_cpmt}, #{c_cinq}, #{c_cckbk}, #{c_cxfer}, #{c_ccapt}, #{c_crect},
		#{c_c1brej}, #{c_c2brej}, #{c_c3brej}, #{c_c4brej}, #{c_cdepac},
		#{c_cacsha}, #{c_caxfer}, #{c_cainq}, #{c_cicsha}, #{c_cixfer},
		#{c_ciinq}, #{c_twdl_loc}, #{c_twdl_us}, #{c_twdlc_loc},
		#{c_twdlc_us}, #{c_twdls_loc}, #{c_twdls_us}, #{c_tacsha_loc},
		#{c_tacsha_us}, #{c_ticsha}, #{c_tdep}, #{c_tdepc}, #{c_tdeps},
		#{c_tpmt}, #{c_tpmtl},
		#{c_tpmtmc}, #{c_cfseg}, #{c_cfrf}, #{c_csvcload}, #{c_tsvcload}, #{c_csvcunload},
		#{c_tsvcunload})

	</insert>

	<insert id="insert_ctimtab" parameterType="list">
		INSERT ALL
		<foreach collection="list" item="elem" index="index">
			INTO
			CTIM_TAB(TIMR_NO, TIMR_LEN, PID) VALUES
			(#{elem.timr_no},
			#{elem.timr_len}, #{elem.pid})
		</foreach>
		select * from dual
	</insert>

	<insert id="insert_atmcurrtab" parameterType="list">
		INSERT ALL
		<foreach collection="list" item="elem" index="index">
			INTO
			ATM_CURRENCY_TAB(ISO_CURRENCY_TYPE, CANISTER_TYPE, PID) VALUES
			(#{elem.iso_currency_type}, #{elem.canister_type}, #{elem.pid})
		</foreach>
		select * from dual
	</insert>

	<insert id="insert_ecfoptab" parameterType="list">
		INSERT ALL
		<foreach collection="list" item="elem" index="index">
			INTO
			ECFOP_TAB(EOP_NO, EOPT, PID) VALUES
			(#{elem.eop_no}, #{elem.eopt},
			#{elem.pid})
		</foreach>
		select * from dual
	</insert>

	<insert id="insert_devattrtab" parameterType="devattrtab"
		keyProperty="pid">
		INSERT INTO DEV_ATTRIBUTES (ATTRIBUTE, PID) VALUES
		(#{attribute}, #{pid})
	</insert>

	<insert id="insert_devkeytab" parameterType="devkeytab"
		keyProperty="pid">
		INSERT INTO DEV_KEY_TAB(PID, DIRECTION, KEY_LENGTH,
		PCI_COMPLIANT, PINBLK_FMT)
		VALUES (#{pid}, #{direction}, #{key_length},
		#{pci_compliant}, #{pinblk_fmt})
	</insert>

	<insert id="insert_tmkcomptab" parameterType="tmkcomptab"
		keyProperty="pid">
		INSERT INTO TMK_COMP_TAB(SEQUENCE, ORGDEV, FORMED) VALUES
		(#{id.sequence}, #{id.orgdev}, #{formed})
	</insert>

	<insert id="insert_tmkreqtab" parameterType="tmkreqtab"
		keyProperty="pid">
		INSERT INTO TMK_REQ_TAB(ORGDEV, BRANCHC, STATUS) VALUES
		(#{orgdev}, #{branchc}, #{status})
	</insert>

	<select id="selRtByPid" parameterType="String" resultType="rttab">
		SELECT * FROM RT_TAB WHERE PID = #{pid}
	</select>
	<select id="selTcpByPid" parameterType="String" resultType="tcptab">
		SELECT * FROM TCP_TAB WHERE PID = #{pid}
	</select>
	<select id="selDefByPid" parameterType="String" resultType="deftab">
		SELECT * FROM DEF_TAB WHERE ID = #{id}
	</select>
	<select id="selCtlaByPid" parameterType="String" resultType="ctlatab">
		SELECT * FROM CTLA_TAB WHERE PID = #{pid}
	</select>
	<select id="selCtrByPid" parameterType="String" resultType="ctrtab">
		SELECT * FROM CTR_TAB WHERE PID = #{pid}
	</select>
	<select id="selAtmCurrByPid" parameterType="String" resultType="atmcurrtab">
		SELECT * FROM ATM_CURRENCY_TAB WHERE PID = #{pid}
	</select>



</mapper>