<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.app.dao.MstBranchMapper">

	<resultMap type="branch" id="result">
		<id property="branchId" column="BRANCH_ID" />
		<result property="branchName" column="BRANCH_NAME" />
	</resultMap>

	<select id="getAllBranches" resultType="branch" resultMap="result">
		SELECT * FROM MST_BRANCH
	</select>

	<select id="findBranchById" parameterType="String" resultType="branch"
		resultMap="result">
		SELECT * FROM MST_BRANCH WHERE BRANCH_ID = #{branchId} ORDER BY BRANCH_NAME
	</select>
</mapper>