<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.app.dao.RoleFungrpMapper">

	<resultMap type="rolefungrpmap" id="result">
		<id property="id.roleId" column="ROLE_ID" />
		<id property="id.functiongrpId" column="FUNCTIONGRP_ID" />
		<result property="modifyBy" column="MODIFY_BY" />
		<result property="modifyTime" column="MODIFY_TIME" />
		<result property="sysFlag" column="SYS_FLAG" />
	</resultMap>

	<delete id="deleteFungroupsByRoleId" parameterType="String">
		DELETE FROM T_ROLE_FUNGRP_MAP WHERE ROLE_ID = #{id.roleId}
	</delete>

	<insert id="mapFungroupsToRole" parameterType="list">
		INSERT ALL
		<foreach collection="list" item="elem" index="index">
			INTO T_ROLE_FUNGRP_MAP(ROLE_ID, FUNCTIONGRP_ID, SYS_FLAG, MODIFY_TIME,
			MODIFY_BY) VALUES (#{elem.id.roleId}, #{elem.id.functiongrpId},
			#{elem.sysFlag}, #{elem.modifyTime}, #{elem.modifyBy})
		</foreach>
		select * from dual
	</insert>
	
	<select id="findFungroupsByRoleId" parameterType="String" resultType="rolefungrpmap"
		resultMap="result">
		SELECT * FROM T_ROLE_FUNGRP_MAP WHERE ROLE_ID = #{roleId}
	</select>
	
	<select id="getAllRoleFungroupMap" resultType="rolefungrpmap"
		resultMap="result">
		SELECT * FROM T_ROLE_FUNGRP_MAP
	</select>

</mapper>