<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.test.app.entity.Hotel" alias="hotel" />
		<typeAlias type="com.test.app.entity.User" alias="user" />
		<typeAlias type="com.test.app.entity.SysLoginParam" alias="sysloginparam" />
		<typeAlias type="com.test.app.entity.Function" alias="function" />
		<typeAlias type="com.test.app.entity.Functiongrp" alias="functiongrp" />
		<typeAlias type="com.test.app.entity.FungrpFunMap" alias="fungrpfunmap" />
		<typeAlias type="com.test.app.entity.Module" alias="module" />
		<typeAlias type="com.test.app.entity.Role" alias="role" />
		<typeAlias type="com.test.app.entity.RoleFungrpMap" alias="rolefungrpmap" />
		<typeAlias type="com.test.app.entity.UserRoleMap" alias="userrolemap" />
		<typeAlias type="com.test.app.entity.ScreenFunMap" alias="screenfunmap" />
		<typeAlias type="com.test.app.entity.DecParam" alias="decparam" />
		<typeAlias type="com.test.app.entity.ActiveUser" alias="activeuser" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521/xe" />
				<property name="username" value="hamid" />
				<property name="password" value="hamid" />
				<property name="poolMaximumActiveConnections" value="50"/>	
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/test/app/mapper/HotelMapper.xml" />
		<mapper resource="com/test/app/mapper/UserMapper.xml" />
		<mapper resource="com/test/app/mapper/SysLoginParamMapper.xml" />
		<mapper resource="com/test/app/mapper/ModuleMapper.xml" />
		<mapper resource="com/test/app/mapper/FunctionMapper.xml" />
		<mapper resource="com/test/app/mapper/ScreenFunMapper.xml" />
		<mapper resource="com/test/app/mapper/FunctiongrpMapper.xml" />
		<mapper resource="com/test/app/mapper/FungrpFunMapper.xml" />
		<mapper resource="com/test/app/mapper/RoleMapper.xml" />
		<mapper resource="com/test/app/mapper/RoleFungrpMapper.xml" />
		<mapper resource="com/test/app/mapper/DecParamMapper.xml" />
		<mapper resource="com/test/app/mapper/ActivityLogMapper.xml" />
	</mappers>
</configuration>