<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.test.app.entity.Hotel" alias="hotel" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521/xe" />
				<property name="username" value="hamid" />
				<property name="password" value="hamid" />
				<property name="poolMaximumActiveConnections" value="50"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/test/app/mapper/HotelMapper.xml" />
	</mappers>
</configuration>